* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background: #020A18;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.top {}

.top__menu {
    padding-top: 39px;
    padding-bottom: 39px;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #FFFFFF 260.24%);
    opacity: 0.02;
    backdrop-filter: blur(100px); */
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.top__menu__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.top__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 128px;
    padding-top: 160px;
    padding-bottom: 197px;

}

.top__info {
    max-width: 604px;
}

.subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
    margin-bottom: 10px;

}

.title {
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;

}

.text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 50px;

}

.top__buttons {
    display: flex;
    gap: 20px;
}

.button {
    padding: 15px 30px;
    background: #3A68B8;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button:hover {
    cursor: pointer;
}

.top__logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding-top: 157px;
    padding-bottom: 264px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
}

.about__text {
    font-size: 16px;
}

.about__content {
    max-width: 484px;
}

.content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 3fr);
    padding-bottom: 243px;
}

.item {
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.item_big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.item__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.item__text {
    text-align: center;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    .top {
        padding-bottom: 120px;
    }

    .top__logos {
        justify-content: center;
        gap: 32px;
        max-width: 650px;
        margin: auto;
    }

    .content {
        grid-template-columns: repeat(1, 362px);
        grid-auto-flow: dense;
        justify-content: center;
        gap: 32px;
    }

    .item_big {
        grid-column: span 1;
        grid-row: span 1;
        gap: 30px;
    }

    .item_big img {
        width: 98px;
    }
}